@font-face{
    font-family: Circular;
    src: url('circular-medium.woff2');/*add this for spotify website font*/
}
body{
    font-family: Circular,Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222326;
}
/*navbar css efects*/
.navbar-dark{
    background-color: rgba(0,0,0,0.6);
}

.navbar-dark .navbar-nav>li>a{
    color: #fff;
    padding: 28px 17px;
    font-weight: 700;
    line-height: 24px;
}

.nav>li>a:focus,
.nav>li>a:hover{
    background-color: inherit;
    color: #17e628;
}

.nav .divider{
    background-color: #d9dadc;
    width: 1px;
    height: 16px;
    margin: 32px 17px;
}

.navbar-logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 132px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    float: left;
    background-image: url('../img/spotify-seeklogo.com.svg');
}
.bg-main{
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, #ff0606, #e0cf35 100%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.bg-main-img{
    display: block;
    background-image: url('../img/bg-albums.png');
    width: 100%;
    height: 100%;
    background-position: center;
}
.text-white{
    color: white;
}
.jumbotron {
    background: none;
    padding: 100px 0;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .jumbotron h1 {
    font-weight: 900;
  }

  .bg-white {
    background-color: #fff;
  }

  .carousel-control.right, .carousel-control.left {
    background: none;
  }

  .btn {
    padding: 17px 48px;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 16px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
  }

  .jumbotron .btn {
    margin: 20px 10px 30px;
  }


.btn-solid {
  color: #fff;
  background-color: #31d475;
}
.btn-solid:hover {
  color: #fff;
  background-color: #09f02f;
}

.btn-lg {
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  padding: 21px 56px 19px;
}
.addn{
    color: white;
    padding: 0%;
}
#carousel-tour{
    margin-top: 50px;
}
.text-klein-purple{
    color: #eb3224;
}
.bg-white{
    background-color: #fff;
}
a.btn-scroll {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
  }

  a.btn-scroll:hover {
    color: #010201;
  }

  .btn-scroll-text {
    text-transform: uppercase;
    transition: color .3s ease-in-out;
    display: block;
    font-weight: 700;
    letter-spacing: .1em;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 .75em;
    font-weight: 900;
  }

  h3 {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.4;
  }

  .jumbotron-whats-on {
    text-align: left;
    padding: 180px 0;
  }

  .jumbotron p {
    font-weight: 400;
    font-size: 18px;
    margin: 1em 0;
  }
  .album-img {
    padding: 0;
  }
  /*leaving before .iphonne*/
  .iphone {
    width: 358px;
    height: 730px;
    padding: 80px 22px 0;
    margin-bottom: 30px;
    background: url('../img/iphone-klein-purple.png') no-repeat;
    background-size: cover;
  }

  .iphone-1, .iphone-4 {
    margin-top: 200px;
  }

  .devices-container {
     margin-top: -350px;
     margin-bottom: -620px;
     /*margin-right: -100%;
     float: right;
     */transform: rotate(30deg) translate3d(0,40px,0);
     -webkit-transform: rotate(30deg) translate3d(0,40px,0);
     -moz-transform: rotate(30deg) translate3d(0,40px,0);
     -ms-transform: rotate(30deg) translate3d(0,40px,0);
     -o-transform: rotate(30deg) translate3d(0,40px,0);
}
  .iphone-1{
    background-position: relative;
  }
  .grid-overflow {
    margin-right: -100%;
    float: left;
    background-position: relative;
  }

  .devices-container img {
    max-width: 100%;
    height: 85%;
  }
  .jumbotron-devices {
    background: #222326;
  }

  .jumbotron-devices img {
    margin-bottom: 60px;
  }

  .jumbotron-devices .device-list {
    display: inline;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .jumbotron-devices .device-list li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin: 1em 0;
  }

  .jumbotron-devices .device-list li:after {
    content: '|';
    padding-left: 14px;
    color: #e7d212ec;
  }

  .jumbotron-devices .device-list li:last-child:after {
    content: '';
  }
  .device-list>li>a{
    color: #fff;
  }
  .device-list>li>a:hover{
    color: #62ca39;
  }
  .center-block{
    width: 50%;
    height: 40%;
  }
  .jumbotron-devices .device-list a {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
  }

  .jumbotron-subscriptions {
    padding: 150px 0 0;
    text-align: left;
  }

  .jumbotron-subscriptions .btn {
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .price-title {
    float: left;
    margin: 0;
  }

  .price {
    float: right;
    margin: 0 0 12px;
  }

  .month {
    font-size: 20px;
  }

  .details-subscriptions {
    border: 1px solid white;
    border-left: 0;
    border-right: 0;
    padding: 16px 0;
    padding-left: 0;
    list-style: none;
    font-weight: 700;
    margin-bottom: 0;
  }

  .details-subscriptions {
    font-size: 24px;
  }

  .tour-variation p:first-child {
    float: left;
  }

  .tour-variation p:last-child {
    float: right;
  }

  .tour-variation a {
    color: #0c1110;
    text-decoration: none;
  }

  .tour-variation a:hover {
    color: #42dee3;
  }
  p.legal {
    font-size: 12px;
    margin-top: 8px;
  }

  p.legal a {
    color: #17e628;
    text-decoration: underline;
  }

  p.legal a:hover {
    color: #040a09;
  }

  .nexus {
    width: 458px;
    height: 873px;
    padding: 60px 24px 0 18px;
    background: url('../img/nexus-klein-purple.png') no-repeat;
    background-size: cover;
    margin-bottom: -50%;
  }

  .nexus img {
    padding: 27px;
    height: 80%;
    max-width: 100%;
  }
  .footer {
    background-color: black;
    color: white;
    padding: 80px 0 50px;
    text-align: left;
  }

  .footer-highlight-aquamarine a {
    color: white;
  }

  .footer-highlight-aquamarine a:hover {
    color: #9bf0e1;
  }

  .footer-logo a {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 132px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    float: left;
    background-image: url('../img/spotify-seeklogo.com.svg');
  }

  .footer .nav-title {
    color: #919496;
    font-size: 12px;
    letter-spacing: .08em;
    margin: 20px 0;
    text-transform: uppercase;
  }

  .footer .nav li a {
    padding: 3px 0;
    margin: 0 0 12px;
  }

  .col-social {
    margin-top: 20px;
  }

  .footer .col-social ul {
    float: right;
  }

  .footer .col-social li {
    display: inline-block;
  }

  .footer .col-social li a {
    padding: 15px;
    margin-bottom: 12px;
    background-color: #222326;
    border-radius: 30px;
  }

  .footer .col-social a:hover {
    background-color: #222326;
  }

  .col-social a img {
    width: 24px;
    height: 24px;
  }

  .footer .nav-small a {
    color: #919496;
  }

  .footer .nav-small li a {
    float: left;
    font-size: 12px;
    font-weight: 400;
    padding: 12px;
    margin: 0;
  }

  .row-small {
    margin-top: 100px;
  }

  .footer .nav-small li:first-child a {
    padding-left: 0;
  }

  .flag-icon-ind {
    background-image: url('https://img.icons8.com/color/100/000000/india.png');
  }

  .flag-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-size: 18px;
    height: 1em;
    width: 1.33333333em;
  }

  .market, .copyright {
    color: #919496;
    font-size: 12px;
  }

  a.market {
    color: #919496;
    text-decoration: none;
  }
  .social_icon{
    background-color: #fff;
    border-radius: 50px;
}
.social_icon>a:hover{
  color: #09f02f;
}
